image {
	text-align:justify;
	align:justify;
	width:300px;
}

table {
	text-align:justify;
	align:justify;
	width:300px;
}

.infobox {
	text-align:justify;
	align:justify;
	width:300px;
}

.thumbcaption {
	text-align:justify;
	align:justify;
	width:300px;
}

.magnify {
	text-align:justify;
	align:justify;
	width:300px;
}